<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Wordy</title>
		<!-- <script type="text/javascript" th:src="@{js/script.js}"></script> -->
	</head>
	<body>
		<h2 id="demo">TEXT</h2>
		<h2 th:text="${dailyWord}">Word</h2>
		<table>
			<tr th:each="def : ${definition}">
				<td th:text="${def}">definition</td>
			</tr>
		</table>
		<form th:action="@{/search}" th:object="${search}" method="post">
			<input type="text" th:field="*{word}"/>
			<input type="submit"/>
		</form>
		<h1 th:text="${search.word}">searched word</h1>
		<table>
			<tr th:each="def : ${searchWordDefinition}">
				<td th:text="${def}">definition</td>
			</tr>
		</table>
		<script th:inline="javascript">
			var myDef = [[${searchWordDefinition}]];
			console.log(myDef);
		</script>
	</body>
</html>