<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Wordy</title>
	</head>
	<body>
		<h2 th:text="${dailyWord}">Word</h2>
		<p th:text="${definition}">definition</p>
		<form th:action="@{/search}" th:object="${search}" method="post">
			<input type="text" th:field="*{word}"/>
			<input type="submit"/>
		</form>
		<h1 th:text="${search.word}">searched word</h1>
		<p th:text="${searchWordDefinition}">definition of the searched word</p>
	</body>
</html>